In [3]:
# Attribute of Series object
# name attribute is used to give name to series object
import numpy as np
import pandas as pd
lst = ["Harshal","Aniket","Kunal","Prathamesh"]
s = pd.Series(lst,name="Emp")
print("Series Data :")
print(s,type(s))

Series Data :
0       Harshal
1        Aniket
2         Kunal
3    Prathamesh
Name: Emp, dtype: object <class 'pandas.core.series.Series'>

In [5]:
# Attribute of Series object
# name attribute is used to give name to series object
import numpy as np
import pandas as pd
lst = ["Harshal","Aniket","Kunal","Prathamesh"]
s = pd.Series(lst,index=[101,102,103,104],name="Emp")
print("Series Data :")
print(s,type(s))

Series Data :
101       Harshal
102        Aniket
103         Kunal
104    Prathamesh
Name: Emp, dtype: object <class 'pandas.core.series.Series'>

In [6]:
# How to get series name
print("Series name :",s.name)

Series name : Emp

In [8]:
# Update or set the series name 
s.name = "Employes"
print(s,type(s.name))

101       Harshal
102        Aniket
103         Kunal
104    Prathamesh
Name: Employes, dtype: object <class 'str'>

In [11]:
# Values Attribute
# it returns values in series in list
import numpy as np
import pandas as pd
lst = ["Harshal","Aniket","Kunal","Prathamesh"]
s = pd.Series(lst)
print("Series Data :")
print(s.values,type(s.values))

Series Data :
['Harshal' 'Aniket' 'Kunal' 'Prathamesh'] <class 'numpy.ndarray'>

In [12]:
for name in s.values:
    print(name)

Harshal
Aniket
Kunal
Prathamesh

In [13]:
# Size Attribute
# How to count number of elements in series object
import numpy as np
import pandas as pd
lst = ["Harshal","Aniket","Kunal","Prathamesh"]
s = pd.Series(lst)
print("Series Data :")
print(s,type(s))
print("Saize of series object :")
print(s.size)

Series Data :
0       Harshal
1        Aniket
2         Kunal
3    Prathamesh
dtype: object <class 'pandas.core.series.Series'>
Saize of series object :
4

In [15]:
# Diffrence between size and count()
# size is an attribute
# size is used to give size of all elements in series
# count() is an function 
# count() used to give count of not NAN values

arr = pd.Series([1,2,34,5,np.NAN,343,434,124,13,np.NAN])
print(arr,type(arr))
print("Size of series object :",arr.size)
print("No.of.elements series object :",arr.count()) # it does not take NAN values

0      1.0
1      2.0
2     34.0
3      5.0
4      NaN
5    343.0
6    434.0
7    124.0
8     13.0
9      NaN
dtype: float64 <class 'pandas.core.series.Series'>
Size of series object : 10
No.of.elements series object : 8

In [19]:
# check series object is empty or not.
# empty Attribute
# empty attribute returns boolean value if series object is empty then return true otherwise return false 
s = pd.Series()
print("Series Data :",s)
print("Series object is empty :",s.empty)

Series Data : Series([], dtype: object)
Series object is empty : True

In [20]:
# check series object is empty or not.
# empty Attribute
# empty attribute returns boolean value if series object is empty then return true otherwise return false 
s = pd.Series([1,235,np.NAN,"Harshal"])
print("Series Data :",s)
print("Series object is empty :",s.empty)

Series Data : 0          1
1        235
2        NaN
3    Harshal
dtype: object
Series object is empty : False