In [5]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
s3 = s1.add(s2)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a    100
b    200
c    300
d    400
e    500
dtype: int64
--------------------------------------------------------
Addition of two series
a    110
b    220
c    330
d    440
e    550
dtype: int64

In [6]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a','b','c','d1','e1'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
s3 = s1.add(s2)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a     100
b     200
c     300
d1    400
e1    500
dtype: int64
--------------------------------------------------------
Addition of two series
a     110.0
b     220.0
c     330.0
d       NaN
d1      NaN
e       NaN
e1      NaN
dtype: float64

In [8]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a1','b1','c1','d1','e1'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
# fill_value = 0 means every row in s1 and s2 adding with 0
# if fill_value = 10 --> s1 all values + 10     s2 all values + 10
s3 = s1.add(s2,fill_value=0)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a1    100
b1    200
c1    300
d1    400
e1    500
dtype: int64
--------------------------------------------------------
Addition of two series
a      10.0
a1    100.0
b      20.0
b1    200.0
c      30.0
c1    300.0
d      40.0
d1    400.0
e      50.0
e1    500.0
dtype: float64

In [9]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a1','b1','c1','d1','e1'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
s3 = s1.add(s2,fill_value=10)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a1    100
b1    200
c1    300
d1    400
e1    500
dtype: int64
--------------------------------------------------------
Addition of two series
a      20.0
a1    110.0
b      30.0
b1    210.0
c      40.0
c1    310.0
d      50.0
d1    410.0
e      60.0
e1    510.0
dtype: float64

In [1]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
s3 = s1.sub(s2)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a    100
b    200
c    300
d    400
e    500
dtype: int64
--------------------------------------------------------
Addition of two series
a    -90
b   -180
c   -270
d   -360
e   -450
dtype: int64

In [2]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
s3 = s2.sub(s1)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a    100
b    200
c    300
d    400
e    500
dtype: int64
--------------------------------------------------------
Addition of two series
a     90
b    180
c    270
d    360
e    450
dtype: int64

In [4]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a1','b1','c1','d','e'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
s3 = s1.sub(s2)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a1    100
b1    200
c1    300
d     400
e     500
dtype: int64
--------------------------------------------------------
Addition of two series
a       NaN
a1      NaN
b       NaN
b1      NaN
c       NaN
c1      NaN
d    -360.0
e    -450.0
dtype: float64

In [5]:
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
print("--------------------------------------------------------")
s2 = pd.Series([100,200,300,400,500],index=['a1','b1','c1','d1','e1'])
print("Series2 Data :")
print(s2)
print("--------------------------------------------------------")

print("Addition of two series")
s3 = s1.sub(s2,fill_value=25)
print(s3)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
--------------------------------------------------------
Series2 Data :
a1    100
b1    200
c1    300
d1    400
e1    500
dtype: int64
--------------------------------------------------------
Addition of two series
a     -15.0
a1    -75.0
b      -5.0
b1   -175.0
c       5.0
c1   -275.0
d      15.0
d1   -375.0
e      25.0
e1   -475.0
dtype: float64

In [8]:
# Drop the values from series
# using index or label both you can do
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
s2 = s1.drop("b")
print("After droping :")
print(s2)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
After droping :
a    10
c    30
d    40
e    50
dtype: int64

In [9]:
# Drop the multiple values from series
# using index or label both you can do
# Adding the series values
import numpy as np
import pandas as pd

s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Series1 Data :")
print(s1)
s1.drop(["d","b"],inplace=True)
print("After droping :")
print(s1)

Series1 Data :
a    10
b    20
c    30
d    40
e    50
dtype: int64
After droping :
a    10
c    30
e    50
dtype: int64

In [14]:
# isna() finding missing(NAN values) values in series.
import numpy as np
import pandas as pd

s1 = pd.Series([10,50,np.NaN,12,np.NAN],index=['a','s','h','d','e'])
print("Series1 Data :")
print(s1)
print(s1.isna())
print("Total NAN values :",s1.size-s1.count())

Series1 Data :
a    10.0
s    50.0
h     NaN
d    12.0
e     NaN
dtype: float64
a    False
s    False
h     True
d    False
e     True
dtype: bool
Total NAN values : 2

In [17]:
# sort the values of Series object
# Ascending order
import numpy as np
import pandas as pd

s1 = pd.Series([100,200,10,202,30,-40,50],index=['a','b','c','d','e','f','g'])
print("Series1 Data :")
print(s1)
print("After sort :")
s1.sort_values(inplace=True)
print(s1)

Series1 Data :
a    100
b    200
c     10
d    202
e     30
f    -40
g     50
dtype: int64
After sort :
f    -40
c     10
e     30
g     50
a    100
b    200
d    202
dtype: int64

In [18]:
# sort the values of Series object
# Descending order
import numpy as np
import pandas as pd

s1 = pd.Series([100,200,10,202,30,-40,50],index=['a','b','c','d','e','f','g'])
print("Series1 Data :")
print(s1)
print("After sort :")
s1.sort_values(ascending=False,inplace=True)
print(s1)

Series1 Data :
a    100
b    200
c     10
d    202
e     30
f    -40
g     50
dtype: int64
After sort :
d    202
b    200
a    100
g     50
e     30
c     10
f    -40
dtype: int64

In [24]:
# Find max and min
import numpy as np
import pandas as pd

s1 = pd.Series([100,200,10,202,30,-40,50],index=['a','b','c','d','e','f','g'])
print("Series1 Data :")
print(s1)
print("Maximum Value :",s1.max())
print("Another two ways to get maximum element in series")
s1.sort_values(inplace=True)
print("Maximum Value :",s1[s1.size-1])
print("Maximum Value :",s1.values[-1])

Series1 Data :
a    100
b    200
c     10
d    202
e     30
f    -40
g     50
dtype: int64
Maximum Value : 202
Another two ways to get maximum element in series
Maximum Value : 202
Maximum Value : 202

C:\Users\Ideapad\AppData\Local\Temp\ipykernel_9048\2690247034.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Maximum Value :",s1[s1.size-1])

In [26]:
# Find max and min
import numpy as np
import pandas as pd

s1 = pd.Series([100,200,10,202,30,-40,50,50,50],index=['a','b','c','d','e','f','g'])
print("Series1 Data :")
print(s1)
print("Minimum Value :",s1.min())
print("Another two ways to get minimum element in series")
s1.sort_values(inplace=True)
print("Minimum Value :",s1[0])
print("Minimum Value :",s1.values[0])

Series1 Data :
a    100
b    200
c     10
d    202
e     30
f    -40
g     50
dtype: int64
Minimum Value : -40
Another two ways to get minimum element in series
Minimum Value : -40
Minimum Value : -40

C:\Users\Ideapad\AppData\Local\Temp\ipykernel_9048\3226167712.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Minimum Value :",s1[0])

In [5]:
# nlargest
import numpy as np
import pandas as pd

s1 = pd.Series([100,200,10,202,30,-40,50,50,50])
print("Series1 Data :")
print(s1)
print("-----------------------------------")
print('Find n largest element')
nmax = s1.nlargest(3)
print(nmax)

Series1 Data :
0    100
1    200
2     10
3    202
4     30
5    -40
6     50
7     50
8     50
dtype: int64
-----------------------------------
Find n largest element
3    202
1    200
0    100
dtype: int64

In [6]:
# nsmallest
import numpy as np
import pandas as pd

s1 = pd.Series([100,200,10,202,30,-40,50,50,50])
print("Series1 Data :")
print(s1)
print("-----------------------------------")
print('Find n largest element')
nmax = s1.nsmallest(3)
print(nmax)

Series1 Data :
0    100
1    200
2     10
3    202
4     30
5    -40
6     50
7     50
8     50
dtype: int64
-----------------------------------
Find n largest element
5   -40
2    10
4    30
dtype: int64