In [1]:
# Series in pandas

In [2]:
print("Series")

Series

In [4]:
import pandas
a = 10 # converting int into series
print("Series :",pandas.Series(a))

Series : 0    10
dtype: int64

In [5]:
a = 10.35 # converting float into series
print("Series :",pandas.Series(a))

Series : 0    10.35
dtype: float64

In [6]:
a = True # converting bool into series
print("Series :",pandas.Series(a))

Series : 0    True
dtype: bool

In [7]:
a = "Python" # converting string into series
print("Series :",pandas.Series(a))

Series : 0    Python
dtype: object

In [9]:
a = range(5) # converting range into series
print("Series :",pandas.Series(a))

Series : 0    0
1    1
2    2
3    3
4    4
dtype: int64

In [10]:
a = [1,"Harshal","Python",50000] # converting int into series
print("Series :",pandas.Series(a,index=["Eno","Name","Course","Fee"]))

Series : Eno             1
Name      Harshal
Course     Python
Fee         50000
dtype: object

In [12]:
# converting Ndarray object into series
import numpy as np
arr = np.array([12,53,99,5,647,65,68])
print("Content of arr ",arr)
print(type(arr))
print("Series :",pandas.Series(arr))

Content of arr  [ 12  53  99   5 647  65  68]
<class 'numpy.ndarray'>
Series : 0     12
1     53
2     99
3      5
4    647
5     65
6     68
dtype: int32