In [1]:
# Access data from dataframe object
print("Dataframe")

Dataframe

In [5]:
import pandas as pd
df = pd.read_csv("data.csv")
print(df)

   sno            sname  marks subject
0    1  Harshal Kharabe  89.98  Python
1    2       Sagar Dhok  92.89  Python
2    3    Aniket Bhudke  92.23   React
3    4      Kunal Aswar  90.90  Django
4   10  Harshal Kharabe  89.98  Python
5   21       Sagar Dhok  92.89  Python
6   31    Aniket Bhudke  92.23   React
7   41      Kunal Aswar  90.90  Django

In [10]:
# First five rows
print("First 5 rows in df :")
print(df.head())

print("-"*40)

print("First 3 rows in df :")
print(df.head(3))

First 5 rows in df :
   sno            sname  marks subject
0    1  Harshal Kharabe  89.98  Python
1    2       Sagar Dhok  92.89  Python
2    3    Aniket Bhudke  92.23   React
3    4      Kunal Aswar  90.90  Django
4   10  Harshal Kharabe  89.98  Python
----------------------------------------
First 3 rows in df :
   sno            sname  marks subject
0    1  Harshal Kharabe  89.98  Python
1    2       Sagar Dhok  92.89  Python
2    3    Aniket Bhudke  92.23   React

In [12]:
# Last five rows
print("Last 5 rows in df :")
print(df.tail())
print("-"*45)
print("Last 4 rows in df :")
print(df.tail(4))

Last 5 rows in df :
   sno            sname  marks subject
3    4      Kunal Aswar  90.90  Django
4   10  Harshal Kharabe  89.98  Python
5   21       Sagar Dhok  92.89  Python
6   31    Aniket Bhudke  92.23   React
7   41      Kunal Aswar  90.90  Django
---------------------------------------------
Last 4 rows in df :
   sno            sname  marks subject
4   10  Harshal Kharabe  89.98  Python
5   21       Sagar Dhok  92.89  Python
6   31    Aniket Bhudke  92.23   React
7   41      Kunal Aswar  90.90  Django

In [15]:
# All information
print("Describtion")
print(df.describe())

Describtion
             sno      marks
count   8.000000   8.000000
mean   14.125000  91.500000
std    15.198097   1.211304
min     1.000000  89.980000
25%     2.750000  90.670000
50%     7.000000  91.565000
75%    23.500000  92.395000
max    41.000000  92.890000

In [16]:

print(df.describe(include="all"))

              sno            sname      marks subject
count    8.000000                8   8.000000       8
unique        NaN                4        NaN       3
top           NaN  Harshal Kharabe        NaN  Python
freq          NaN                2        NaN       4
mean    14.125000              NaN  91.500000     NaN
std     15.198097              NaN   1.211304     NaN
min      1.000000              NaN  89.980000     NaN
25%      2.750000              NaN  90.670000     NaN
50%      7.000000              NaN  91.565000     NaN
75%     23.500000              NaN  92.395000     NaN
max     41.000000              NaN  92.890000     NaN