In [2]:
# Dataframe 
# Dataframe is 2D label array (Data is in rows and columns)
# syntax : pandas.Dataframe(object,index,column,dtype)

In [3]:
# Creating Dataframe object
import pandas as pd
data = range(10,21)
df = pd.DataFrame(data)
print("Dataframe data :")
print(df)

Dataframe data :
     0
0   10
1   11
2   12
3   13
4   14
5   15
6   16
7   17
8   18
9   19
10  20

In [14]:
# Creating Dataframe object
import pandas as pd
data = ["Harshal","Ram","Pratham","Vishal","Kunal"]
df = pd.DataFrame(data,columns=["Name"])
print("Dataframe data :")
print(df)

print("---------------------------")

print("Shape of dataframe :",df.shape)
print("Dimension of dataframe :",df.ndim)

Dataframe data :
      Name
0  Harshal
1      Ram
2  Pratham
3   Vishal
4    Kunal
---------------------------
Shape of dataframe : (5, 1)
Dimension of dataframe : 2

In [21]:
data = [[101,"Harshal",89.50,"Python"],[102,"Aniket",90.25,"Pyhton"]]
df = pd.DataFrame(data,index=["Student_"+str(i) for i in range(1,len(data)+1)],columns=["Id","Name","Marks","Subject"])
print("DataFrame :")
print(df)
print("-----------------------")
print("Shape : ",df.shape)

DataFrame :
            Id     Name  Marks Subject
Student_1  101  Harshal  89.50  Python
Student_2  102   Aniket  90.25  Pyhton
-----------------------
Shape :  (2, 4)