In [1]:
# creating an object of dataframe using CSV file

In [2]:
import pandas as pd
df = pd.read_csv("./data.csv")
print("Data in Dataframe :")
print((df))
print("Type :",type(df))

Data in Dataframe :
   sno            sname  marks subject
0    1  Harshal Kharabe  89.98  Python
1    2       Sagar Dhok  92.89  Python
2    3    Aniket Bhudke  92.23   React
3    4      Kunal Aswar  90.90  Django
Type : <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Attributes of dataframe
# index
# columns
# dtypes
# axes
# size
# shape
# ndim
# empty
# values
# T (Transpose)

In [7]:
dic = {
    "student":["Harshal","Sagar","Kunal","Aniket"],
    "marks":[99,102,119,231],
    "sport":["Cricket","Jrunk","Basketball","CC"]
}
df = pd.DataFrame(dic)
print(df)

   student  marks       sport
0  Harshal     99     Cricket
1    Sagar    102       Jrunk
2    Kunal    119  Basketball
3   Aniket    231          CC

In [8]:
# index attribute
print("Indeices :",df.index)

Indeices : RangeIndex(start=0, stop=4, step=1)

In [9]:
# columns attribute
print("Columns :",df.columns)

Columns : Index(['student', 'marks', 'sport'], dtype='object')

In [10]:
# dtype attribute
print("Dtype :",df.dtypes)

Dtype : student    object
marks       int64
sport      object
dtype: object

In [11]:
# axes attribute
# return indices and columns
print("Axes :",df.axes)

Axes : [RangeIndex(start=0, stop=4, step=1), Index(['student', 'marks', 'sport'], dtype='object')]

In [12]:
# size attribute
# return total count of values
print("Size :",df.size)

Size : 12

In [15]:
# shape attribute
print("Shape :",df.shape)
# no.of.rows
print("Rows :",df.shape[0])
# no.of.columns
print("Columns :",df.shape[1])

Shape : (4, 3)
Rows : 4
Columns : 3

In [17]:
# ndim attribute
print("Dimension of dataframe :",df.ndim)

Dimension of dataframe : 2

In [22]:
# empty attribute
print("Dataframe is empty :",df.empty)

Dataframe is empty : False

In [23]:
# empty attribute
df1 = pd.DataFrame()
print("Data frame :",df1)
print("-------------------------------")
print("DataFrame_1 is empty :",df1.empty)

Data frame : Empty DataFrame
Columns: []
Index: []
-------------------------------
DataFrame_1 is empty : True

In [31]:
# values attribute
for record in df.values:
    print(record)

['Harshal' 99 'Cricket']
['Sagar' 102 'Jrunk']
['Kunal' 119 'Basketball']
['Aniket' 231 'CC']

In [40]:
# T attribute
print("-"*40)
print("Before Transpose")
print("-"*40)
print(df)
print("-"*40)
print("After Transpose")
print("-"*40)
print(df.T)

----------------------------------------
Before Transpose
----------------------------------------
   student  marks       sport
0  Harshal     99     Cricket
1    Sagar    102       Jrunk
2    Kunal    119  Basketball
3   Aniket    231          CC
----------------------------------------
After Transpose
----------------------------------------
               0      1           2       3
student  Harshal  Sagar       Kunal  Aniket
marks         99    102         119     231
sport    Cricket  Jrunk  Basketball      CC