In [1]:
# iterating data from dataframe

In [4]:
import pandas as pd
l1 = [[10,20,30,40],["Pyhton","Java","C#","HTML"],[12.34,45.67,78.67,56.9]]
df = pd.DataFrame(l1)
df

        0      1      2     3
0      10     20     30    40
1  Pyhton   Java     C#  HTML
2   12.34  45.67  78.67  56.9

In [9]:
for rec in df.iterrows():
    print("Row index :",rec[0],type(rec))
    print("Record Values :",rec[1])
    print("-"*30)

Row index : 0 <class 'tuple'>
Record Values : 0    10
1    20
2    30
3    40
Name: 0, dtype: object
------------------------------
Row index : 1 <class 'tuple'>
Record Values : 0    Pyhton
1      Java
2        C#
3      HTML
Name: 1, dtype: object
------------------------------
Row index : 2 <class 'tuple'>
Record Values : 0    12.34
1    45.67
2    78.67
3     56.9
Name: 2, dtype: object
------------------------------

In [10]:
for rec in df.iterrows():
    print("Row index :",rec[0],type(rec))
    print("Record Values :",rec[1].values)
    print("-"*30)

Row index : 0 <class 'tuple'>
Record Values : [10 20 30 40]
------------------------------
Row index : 1 <class 'tuple'>
Record Values : ['Pyhton' 'Java' 'C#' 'HTML']
------------------------------
Row index : 2 <class 'tuple'>
Record Values : [12.34 45.67 78.67 56.9]
------------------------------

In [12]:
for rec,val in df.iterrows():
    print("Row index :",rec)
    print("Record Values :",val.values)
    print("-"*30)

Row index : 0
Record Values : [10 20 30 40]
------------------------------
Row index : 1
Record Values : ['Pyhton' 'Java' 'C#' 'HTML']
------------------------------
Row index : 2
Record Values : [12.34 45.67 78.67 56.9]
------------------------------

In [15]:
# iterating using row indices
import pandas as pd
l1 = [[10,20,30,40],["Pyhton","Java","C#","HTML"],[12.34,45.67,78.67,56.9]]
df = pd.DataFrame(l1,index=["ID","NAME","CGPA"])
df

           0      1      2     3
ID        10     20     30    40
NAME  Pyhton   Java     C#  HTML
CGPA   12.34  45.67  78.67  56.9

In [25]:
for rec in df:
    print(df[rec])
    print("-"*35)

ID          10
NAME    Pyhton
CGPA     12.34
Name: 0, dtype: object
-----------------------------------
ID         20
NAME     Java
CGPA    45.67
Name: 1, dtype: object
-----------------------------------
ID         30
NAME       C#
CGPA    78.67
Name: 2, dtype: object
-----------------------------------
ID        40
NAME    HTML
CGPA    56.9
Name: 3, dtype: object
-----------------------------------

In [28]:
for col in df.columns:
    print(df[col])
    print("-"*35)

ID          10
NAME    Pyhton
CGPA     12.34
Name: 0, dtype: object
-----------------------------------
ID         20
NAME     Java
CGPA    45.67
Name: 1, dtype: object
-----------------------------------
ID         30
NAME       C#
CGPA    78.67
Name: 2, dtype: object
-----------------------------------
ID        40
NAME    HTML
CGPA    56.9
Name: 3, dtype: object
-----------------------------------

In [41]:
# mergeing 2 dataframes
# you can also merge more than 2 df into 1.
d1={
    "SNO1":[1,2],
    "SNAME":["Harshal","Rohit"]
}
d2={
    "SNO1":[3,4,5],
    "SNAME":["Kunal","Harsh","Aniket"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

df3 = pd.concat([df1,df2],axis=0)
print(df3)
print("-"*30)
df4 = pd.concat([df1,df2],axis=1)
df3,"-----------------------------",df4

   SNO1    SNAME
0     1  Harshal
1     2    Rohit
0     3    Kunal
1     4    Harsh
2     5   Aniket
------------------------------

(   SNO1    SNAME
 0     1  Harshal
 1     2    Rohit
 0     3    Kunal
 1     4    Harsh
 2     5   Aniket,
 '-----------------------------',
    SNO1    SNAME  SNO1   SNAME
 0   1.0  Harshal     3   Kunal
 1   2.0    Rohit     4   Harsh
 2   NaN      NaN     5  Aniket)