In [1]:
print("Pyhton Pandas")

Pyhton Pandas

In [21]:
import pandas as pd
# syntax : Dataframe_object.duplicated() --> return boolean array
# Finding duplicates
df = pd.read_csv("data.csv")
# print("-"*40)
print(df.duplicated())

# duplicated record
print("Duplicated record :")
print(df[df.duplicated()])

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool
Duplicated record :
   sno            sname  marks subject
4    1  Harshal Kharabe  89.98  Python

In [19]:
# Remove duplicates from dataframe
# syntax : Dataframe.drop_duplicates()
print("Original : ")
print(df)
print("-"*40)
print("Another way :")
print(df[df.duplicated()])
print("-"*40)
print(df.drop_duplicates()) # it not reflected changes in original
print("-"*40)
# for changes in original
df = df.drop_duplicates()
print(df)

Original :
   sno            sname  marks subject
0    1  Harshal Kharabe  89.98  Python
1    2       Sagar Dhok  92.89  Python
2    3    Aniket Bhudke  92.23   React
3    4      Kunal Aswar  90.90  Django
4    1  Harshal Kharabe  89.98  Python
5   21       Sagar Dhok  92.89  Python
6   31    Aniket Bhudke  92.23   React
7   41      Kunal Aswar  90.90  Django
----------------------------------------
Another way :
   sno            sname  marks subject
4    1  Harshal Kharabe  89.98  Python
----------------------------------------
   sno            sname  marks subject
0    1  Harshal Kharabe  89.98  Python
1    2       Sagar Dhok  92.89  Python
2    3    Aniket Bhudke  92.23   React
3    4      Kunal Aswar  90.90  Django
5   21       Sagar Dhok  92.89  Python
6   31    Aniket Bhudke  92.23   React
7   41      Kunal Aswar  90.90  Django
----------------------------------------
   sno            sname  marks subject
0    1  Harshal Kharabe  89.98  Python
1    2       Sagar Dhok  92.89  Python
2    3    Aniket Bhudke  92.23   React
3    4      Kunal Aswar  90.90  Django
5   21       Sagar Dhok  92.89  Python
6   31    Aniket Bhudke  92.23   React
7   41      Kunal Aswar  90.90  Django