In [1]:
"""Working With Missing Values"""

# missing values --> pandas.NA , None , numpy.nan , numpy.NaN

'Working With Missing Values'

In [2]:
# To find missing values : 
# 1.df.isna()
# 2.df.isnull()
# 3.df.notna()
# 4.df.notnull()

In [3]:
# Replace missing values :
# 1. df.fillna(value)
# 2. df.replace(to_replace=np.NaN,pd.NA,value)

In [4]:
# Replace missing values in column :
# 1. df["column_name"] = df["column_name"].fillna(fill value)
# 1. df[["column_name","column_name"]] = df[["column_name","column_name"]].fillna(fill value)

In [5]:
import numpy as np
import pandas as pd
d1 = {
    "First Score":[100,250,np.NAN,90],
    "Second Score":[100,250,np.NAN,pd.NA],
    "Third Score":[None,250,89,pd.NA]
}
# convert dictionary to dataframe
df = pd.DataFrame(d1)
print(df)

   First Score Second Score Third Score
0        100.0          100        None
1        250.0          250         250
2          NaN          NaN          89
3         90.0         <NA>        <NA>

In [7]:
# Finding missing values :
df.isna() # return boolean value where value is None or NaN it show True
df.isna().sum()

First Score     1
Second Score    2
Third Score     2
dtype: int64

In [9]:
# Finding missing values :
df.isnull() # also used for finding null values

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True          True        False
3        False          True         True

In [11]:
# column missing values
df["First Score"].isna() , df["Second Score"].isnull()

(0    False
 1    False
 2     True
 3    False
 Name: First Score, dtype: bool,
 0    False
 1    False
 2     True
 3     True
 Name: Second Score, dtype: bool)